In [1]:
import os
import pandas as pd
from birdutils import read_labels

In [2]:
features = pd.read_csv('/mnt/data/Birdman/results/warbler/features.csv')
labels_dict = read_labels('/mnt/data/Birdman/sthelena_labels.xls')
feature_group = features.groupby('sound.files', group_keys=True)
labels_all = pd.concat(labels_dict, axis=0, ignore_index=True)
print('Found signals: ', len(features))
print('Labelled calls: ', len(labels_all))

Found signals:  1084
Labelled calls:  388

In [3]:
features.head(3)

,sound.files,selec,duration,meanfreq,sd,freq.median,freq.Q25,freq.Q75,freq.IQR,time.median,...,maxdom,dfrange,modindx,startdom,enddom,dfslope,meanpeakf,peakf,start,end
0,STHELENA-02_20140605_200000_10.wav,1,0.080426,2.882945,1.210451,2.854772,2.282158,3.053942,0.771784,0.030164,...,2.9375,1.4375,2.043478,2.9375,2.7500,-2.331338,2.866071,0.037296,11.183444,11.263869
1,STHELENA-02_20140605_200000_10.wav,2,0.137176,2.966202,1.194502,3.051095,1.817518,3.627737,1.810219,0.082312,...,3.6250,2.6250,4.809524,2.5625,2.8125,1.822477,1.795139,0.036446,20.218882,20.356058
2,STHELENA-02_20140605_200000_10.wav,3,0.317176,2.802401,1.057195,2.851735,2.164038,3.097792,0.933754,0.162880,...,3.1250,2.1250,8.764706,1.9375,2.6875,2.364618,3.118056,3.017143,20.560320,20.877496

In [4]:
labels_all.head(3)

,Date,File Name,Type of Call,Time Start,Time End,Species,Notes
0,2014-06-05,STHELENA-02_20140605_200000_1,Flight Call,2.905,4.197,Storm Petrel,NaN
1,2014-06-05,STHELENA-02_20140605_200000_1,Flight Call,10.008,11.622,Storm Petrel,NaN
2,2014-06-05,STHELENA-02_20140605_200000_1,Flight Call,14.527,16.464,Storm Petrel,NaN

In [20]:
def find_overlap(group):
    name = os.path.splitext(group.name)[0]
    labels = labels_dict[name]
    label_start = labels['Time Start']
    label_end = labels['Time End']

    result = []

    for index, row in group.iterrows():
        start = row['start']
        end = row['end']
        overlap = any((label_start <= end) & (label_end >= start))
        result.append(overlap)
        # print('start {} end {} overlap {}'.format(start, end, overlap))
    group['overlap'] = result

    return group


def find_overlap2(group):
    name = os.path.splitext(group.name)[0] + '.wav'
    labels = feature_group.get_group(name)
    label_start = labels['start']
    label_end = labels['end']

    result = []

    for index, row in group.iterrows():
        start = row['Time Start']
        end = row['Time End']
        overlap = any((label_start <= end) & (label_end >= start))
        result.append(overlap)
        # print('start {} end {} overlap {}'.format(start, end, overlap))
    group['overlap'] = result

    return group

In [9]:
x = feature_group.apply(find_overlap)

In [21]:
g=labels_all.groupby('File Name')

In [22]:
g.apply(find_overlap2)

,Date,File Name,Type of Call,Time Start,Time End,Species,Notes,overlap
0,2014-06-05,STHELENA-02_20140605_200000_1,Flight Call,2.905,4.197,Storm Petrel,NaN,True
1,2014-06-05,STHELENA-02_20140605_200000_1,Flight Call,10.008,11.622,Storm Petrel,NaN,True
2,2014-06-05,STHELENA-02_20140605_200000_1,Flight Call,14.527,16.464,Storm Petrel,NaN,True
3,2014-06-05,STHELENA-02_20140605_200000_1,Flight Call,17.110,18.724,Storm Petrel,NaN,True
4,2014-06-05,STHELENA-02_20140605_200000_1,Flight Call,20.338,21.307,Storm Petrel,NaN,True
5,2014-06-05,STHELENA-02_20140605_200000_1,Flight Call,34.220,34.866,Storm Petrel,NaN,True
6,2014-06-05,STHELENA-02_20140605_200000_1,Flight Call,47.134,52.944,Storm Petrel,NaN,False
7,2014-06-05,STHELENA-02_20140605_200000_1,Flight Call,60.692,61.984,Storm Petrel,NaN,False
8,2014-06-05,STHELENA-02_20140605_200000_1,Flight Call,64.889,66.826,Storm Petrel,NaN,True
9,2014-06-05,STHELENA-02_20140605_200000_1,Flight Call,67.472,68.763,Storm Petrel,NaN,False
10,2014-06-05,STHELENA-02_20140605_200000_1,Flight Call,73.606,75.543,Storm Petrel,NaN,False
11,2014-06-05,STHELENA-02_20140605_200000_1,Flight Call,80.708,82.322,Storm Petrel,NaN,True
12,2014-06-05,STHELENA-02_20140605_200000_1,Flight Call,86.196,87.488,Storm Petrel,NaN,True
13,2014-06-05,STHELENA-02_20140605_200000_1,Flight Call,88.456,90.070,Storm Petrel,NaN,True
14,2014-06-05,STHELENA-02_20140605_200000_1,Flight Call,91.362,92.653,Storm Petrel,NaN,True
15,2014-06-05,STHELENA-02_20140605_200000_1,Flight Call,96.527,97.818,Storm Petrel,NaN,True
16,2014-06-05,STHELENA-02_20140605_200000_1,Flight Call,101.369,102.338,Storm Petrel,NaN,True
17,2014-06-05,STHELENA-02_20140605_200000_1,Flight Call,103.952,105.243,Storm Petrel,NaN,True
18,2014-06-05,STHELENA-02_20140605_200000_1,Flight Call,106.212,106.857,Storm Petrel,NaN,True
19,2014-06-05,STHELENA-02_20140605_200000_1,Flight Call,116.865,118.157,Storm Petrel,NaN,True
20,2014-06-05,STHELENA-02_20140605_200000_1,Flight Call,131.393,132.361,Storm Petrel,NaN,True
21,2014-06-05,STHELENA-02_20140605_200000_1,Flight Call,133.975,135.590,Storm Petrel,NaN,True
22,2014-06-05,STHELENA-02_20140605_200000_1,Flight Call,173.038,174.329,Storm Petrel,NaN,False
23,2014-06-05,STHELENA-02_20140605_200000_1,Flight Call,184.983,185.629,Storm Petrel,NaN,False
24,2014-06-05,STHELENA-02_20140605_200000_1,Flight Call,195.959,197.250,Storm Petrel,NaN,False
25,2014-06-05,STHELENA-02_20140605_200000_1,Flight Call,218.235,219.849,Storm Petrel,NaN,False
26,2014-06-05,STHELENA-02_20140605_200000_1,Flight Call,229.211,230.502,Storm Petrel,NaN,False
27,2014-06-05,STHELENA-02_20140605_200000_1,Flight Call,231.148,231.794,Storm Petrel,NaN,False
28,2014-06-05,STHELENA-02_20140605_200000_1,Flight Call,240.833,242.447,Storm Petrel,NaN,True
29,2014-06-05,STHELENA-02_20140605_200000_1,Flight Call,248.904,250.518,Storm Petrel,NaN,True
...,...,...,...,...,...,...,...,...
358,2014-06-05,STHELENA-02_20140605_200000_8,Roosting,402.572,407.091,Brown Noddy,NaN,True
359,2014-06-05,STHELENA-02_20140605_200000_8,flight call,498.130,499.421,Storm Petrel,NaN,False
360,2014-06-05,STHELENA-02_20140605_200000_9,Flight Call,30.669,31.960,Storm Petrel,NaN,True
361,2014-06-05,STHELENA-02_20140605_200000_9,Flight Call,80.385,81.677,Storm Petrel,NaN,True
362,2014-06-05,STHELENA-02_20140605_200000_9,Flight Call,82.322,83.614,Storm Petrel,NaN,False
363,2014-06-05,STHELENA-02_20140605_200000_9,Flight Call,86.519,87.810,Storm Petrel,NaN,True
364,2014-06-05,STHELENA-02_20140605_200000_9,Flight Call,88.456,89.747,Storm Petrel,NaN,True
365,2014-06-05,STHELENA-02_20140605_200000_9,Flight Call,89.747,92.330,Storm Petrel,NaN,True
366,2014-06-05,STHELENA-02_20140605_200000_9,Flight Call,280.218,281.833,Storm Petrel,NaN,True
367,2014-06-05,STHELENA-02_20140605_200000_9,Flight Call,329.612,331.226,Storm Petrel,NaN,False
368,2014-06-05,STHELENA-02_20140605_200000_9,Flight Call,343.816,345.430,Storm Petrel,NaN,False
369,2014-06-05,STHELENA-02_20140605_200000_9,Flight Call,354.470,355.761,Storm Petrel,NaN,True
370,2014-06-05,STHELENA-02_20140605_200000_9,Flight Call,357.052,358.344,Storm Petrel,NaN,True
371,2014-06-05,STHELENA-02_20140605_200000_9,Flight Call,362.541,363.832,Storm Petrel,NaN,False
372,2014-06-05,STHELENA-02_20140605_200000_9,Flight Call,363.832,365.446,Storm Petrel,NaN,False
373,2014-06-05,STHELENA-02_20140605_200000_9,Flight Call,372.548,374.163,Storm Petrel,NaN,False
374,2014-06-05,STHELENA-02_20140605_200000_9,Flight Call,410.643,411.611,Storm Petrel,NaN,True
375,2014-06-05,STHELENA-02_20140605_200000_9,Flight Call,412.257,413.871,Storm Petrel,NaN,True
376,2014-06-05,STHELENA-02_20140605_200000_9,Flight Call,415.162,416.454,Storm Petrel,NaN,True
377,2014-06-05,STHELENA-02_20140605_200000_9,Flight Call,417.099,418.391,Storm Petrel,NaN,True
378,2014-06-05,STHELENA-02_20140605_200000_9,Flight Call,420.005,420.973,Storm Petrel,NaN,True
379,2014-06-05,STHELENA-02_20140605_200000_9,Roosting,430.981,436.146,Brown Noddy,NaN,False
380,2014-06-05,STHELENA-02_20140605_200000_9,Flight Call,442.603,444.217,Storm Petrel,NaN,False
381,2014-06-05,STHELENA-02_20140605_200000_9,Flight Call,467.784,469.398,Storm Petrel,NaN,False
382,2014-06-05,STHELENA-02_20140605_200000_9,Roosting,474.563,484.894,Brown Noddy,NaN,False
383,2014-06-05,STHELENA-02_20140605_200000_9,Flight Call,491.674,493.288,Storm Petrel,NaN,True
384,2014-06-05,STHELENA-02_20140605_200000_9,Flight Call,501.681,503.295,Storm Petrel,NaN,False
385,2014-06-05,STHELENA-02_20140605_200000_9,Flight Call,503.618,505.232,Storm Petrel,NaN,True
386,2014-06-05,STHELENA-02_20140605_200000_9,Flight Call,513.949,515.886,Storm Petrel,NaN,True
387,2014-06-05,STHELENA-02_20140605_200000_9,Flight Call,533.319,534.933,Storm Petrel,NaN,True

In [ ]:
feature_group.transform(find_overlap)

In [ ]:
features.join(x, on='sound.files', rsuffix='_r')

In [ ]:
for name, feature in feature_group:
    name = os.path.splitext(name)[0]
    label_df = labels[name]
    features.loc[] # feature['overlap'] = find_overlap(feature, label_df)

In [ ]:
features.head(2).T

In [ ]:
labels

In [ ]:
y = features[features['sound.files'] == 'STHELENA-02_20140605_200000_1.wav']

In [ ]:
x=labels['STHELENA-02_20140605_200000_1']

In [ ]:
pd.DataFrame([])

In [ ]:
pd.DataFrame({'start': {0: 4.197, 1: 11.622, 2: 16.464, 3: 18.724, 4: 21.307, 5: 34.866},
 'end': {0: 2.9050000000000002, 1: 10.008, 2: 14.527, 3: 17.11, 4: 20.338, 5: 34.22}})

In [ ]:
x[['Time End','Time Start']].head(5).to_dict()

In [ ]:
y.head(10)[['start', 'end']].to_dict()

In [ ]:
l = labels['STHELENA-02_20140605_200000_1']
label_start = l['Time Start']
label_end = l['Time End']

for index, row in x.iterrows():
    start = row['start']
    end = row['end']
    overlap = any((label_start <= end) & (label_end >= start))
    print('start {} end {} overlap {}'.format(start, end, overlap))

In [ ]:
start1=8.74100577821629
end1=8.872431701910289

start2=14.918006459232302
end2=15.027494880507698

In [ ]:
(label_end >= start1)

In [ ]:
label_start

In [ ]:
label_start <= end