In [1]:
import os
import pandas as pd
from birdutils import read_labels

In [16]:
features = pd.read_csv('/mnt/data/Birdman/results/warbler/features.csv')
labels_dict = read_labels('/mnt/data/Birdman/sthelena_labels.xls')
feature_group = features.groupby('sound.files', group_keys=True)
labels_all = pd.concat(labels_dict, axis=0, ignore_index=True)
print('Found signals: ', len(features))
print('Labelled calls: ', len(labels_all))

Found signals:  1084
Labelled calls:  388

In [17]:
features.head(3)

,sound.files,selec,duration,meanfreq,sd,freq.median,freq.Q25,freq.Q75,freq.IQR,time.median,...,maxdom,dfrange,modindx,startdom,enddom,dfslope,meanpeakf,peakf,start,end
0,STHELENA-02_20140605_200000_10.wav,1,0.080426,2.882945,1.210451,2.854772,2.282158,3.053942,0.771784,0.030164,...,2.9375,1.4375,2.043478,2.9375,2.7500,-2.331338,2.866071,0.037296,11.183444,11.263869
1,STHELENA-02_20140605_200000_10.wav,2,0.137176,2.966202,1.194502,3.051095,1.817518,3.627737,1.810219,0.082312,...,3.6250,2.6250,4.809524,2.5625,2.8125,1.822477,1.795139,0.036446,20.218882,20.356058
2,STHELENA-02_20140605_200000_10.wav,3,0.317176,2.802401,1.057195,2.851735,2.164038,3.097792,0.933754,0.162880,...,3.1250,2.1250,8.764706,1.9375,2.6875,2.364618,3.118056,3.017143,20.560320,20.877496

In [18]:
labels_all.head(3)

,Date,File Name,Type of Call,Time Start,Time End,Species,Notes
0,2014-06-05,STHELENA-02_20140605_200000_1,Flight Call,2.905,4.197,Storm Petrel,NaN
1,2014-06-05,STHELENA-02_20140605_200000_1,Flight Call,10.008,11.622,Storm Petrel,NaN
2,2014-06-05,STHELENA-02_20140605_200000_1,Flight Call,14.527,16.464,Storm Petrel,NaN

In [19]:
def find_overlap(df, labels):
    label_start = labels['Time Start']
    label_end = labels['Time End']
    
    result = []

    for index, row in df.iterrows():
        start = row['start']
        end = row['end']
        overlap = any((label_start <= end) & (label_end >= start))
        result.append(overlap)
        # print('start {} end {} overlap {}'.format(start, end, overlap))
    return result

In [28]:
def fun(group):
    name = group.name
    print(type(group))
    return name
#     name = os.path.splitext(name)[0]
#     label_df = labels[name]
#     return find_overlap(group, label_df)

In [29]:
x=feature_group.apply(fun)

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

In [30]:
x

sound.files
STHELENA-02_20140605_200000_1.wav      STHELENA-02_20140605_200000_1.wav
STHELENA-02_20140605_200000_10.wav    STHELENA-02_20140605_200000_10.wav
STHELENA-02_20140605_200000_11.wav    STHELENA-02_20140605_200000_11.wav
STHELENA-02_20140605_200000_12.wav    STHELENA-02_20140605_200000_12.wav
STHELENA-02_20140605_200000_13.wav    STHELENA-02_20140605_200000_13.wav
STHELENA-02_20140605_200000_2.wav      STHELENA-02_20140605_200000_2.wav
STHELENA-02_20140605_200000_3.wav      STHELENA-02_20140605_200000_3.wav
STHELENA-02_20140605_200000_4.wav      STHELENA-02_20140605_200000_4.wav
STHELENA-02_20140605_200000_5.wav      STHELENA-02_20140605_200000_5.wav
STHELENA-02_20140605_200000_6.wav      STHELENA-02_20140605_200000_6.wav
STHELENA-02_20140605_200000_7.wav      STHELENA-02_20140605_200000_7.wav
STHELENA-02_20140605_200000_8.wav      STHELENA-02_20140605_200000_8.wav
STHELENA-02_20140605_200000_9.wav      STHELENA-02_20140605_200000_9.wav
dtype: object

In [ ]:
for name, feature in feature_group:
    name = os.path.splitext(name)[0]
    label_df = labels[name]
    features.loc[] # feature['overlap'] = find_overlap(feature, label_df)

In [ ]:
features.head(2).T

In [ ]:
labels

In [ ]:
y = features[features['sound.files'] == 'STHELENA-02_20140605_200000_1.wav']

In [ ]:
x=labels['STHELENA-02_20140605_200000_1']

In [ ]:
pd.DataFrame([])

In [ ]:
pd.DataFrame({'start': {0: 4.197, 1: 11.622, 2: 16.464, 3: 18.724, 4: 21.307, 5: 34.866},
 'end': {0: 2.9050000000000002, 1: 10.008, 2: 14.527, 3: 17.11, 4: 20.338, 5: 34.22}})

In [ ]:
x[['Time End','Time Start']].head(5).to_dict()

In [ ]:
y.head(10)[['start', 'end']].to_dict()

In [ ]:
l = labels['STHELENA-02_20140605_200000_1']
label_start = l['Time Start']
label_end = l['Time End']

for index, row in x.iterrows():
    start = row['start']
    end = row['end']
    overlap = any((label_start <= end) & (label_end >= start))
    print('start {} end {} overlap {}'.format(start, end, overlap))

In [ ]:
start1=8.74100577821629
end1=8.872431701910289

start2=14.918006459232302
end2=15.027494880507698

In [ ]:
(label_end >= start1)

In [ ]:
label_start

In [ ]:
label_start <= end